@{
    //ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The Investment Accounting app.</p>
    <p>Will enable you to account your investment portfolio, calculate risks, technical indicators, etc. Sometime in the future.</p>
    <br/>
    <p>Source code can be found <a href="https://github.com/mindaugaspo/ia" target="_blank">here</a></p>
    <br/>
    <p>If you want to use it, create a login. Don't worry, this site doesn't collect data, just use a dummy email :)</p>
</div>