<div id="new-asset-container">
    <form id="new-asset-form" class="needs-validation" novalidate >
        <div class="container">
            <div class="row">
                <div class="form-group col-6">
                    <label for="Ticker">Ticker</label>
                    <input id="Ticker" type="text" class="form-control" name="Ticker" required />
                </div>
                <div class="form-group col-6">
                    <label for="AssetType">Type</label>
                    <select id="AssetType" name="AssetType" class="custom-select">
                        <option value="1">Stock</option>
                        <option value="2">Bond</option>
                        <option value="3">Commodity</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    <label for="Title">Title</label>
                    <input id="Title" type="text" class="form-control" name="Title" />
                </div>
            </div>
            <div>
                <label class="validation-error d-none"></label>
            </div>
            <button id="submit-new-asset-form" class="btn btn-primary">Create Asset</button>
        </div>
    </form>
</div>