@using IA.ViewModels
@model IA.ViewModels.PortfolioVM


    <div class="portfolio-container">
        <input id="PortfolioId" type="text" class="d-none" value="@Model.PortfolioId" />

        <div>
            <h2>@Model.Title</h2>
        </div>
        <div class="portfolio-controls">
            <button id="new-position" class="btn btn-primary">New position</button>
        </div>

        <partial name="~/Views/Transaction/AllTransactions.cshtml" model="@new AllTransactionsVM() { Transactions = Model.Transactions}" />
    </div>